In [1]:
import os
os.listdir()

['Untitled.ipynb',
 'supermarkets.json',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets-commas.txt']

In [2]:
import pandas
df1 = pandas.read_csv("supermarkets.csv")
df1

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [3]:
df2 = pandas.read_json("supermarkets.json")
df2

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [7]:
df3 = pandas.read_excel("supermarkets.xlsx", sheet_name=0)

In [8]:
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [9]:
df4 = pandas.read_csv("supermarkets-commas.txt")
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [14]:
df5 = pandas.read_csv("supermarkets-semi-colons.txt", sep=";")
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [15]:
df8 = pandas.read_csv("data.txt", header = None)
df8

FileNotFoundError: [Errno 2] File data.txt does not exist: 'data.txt'

In [16]:
df7

NameError: name 'df7' is not defined

In [17]:
df5

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [18]:
df5.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
df9 = df5.set_index("ID")

In [20]:
df9

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [21]:
df5.set_index("ID", inplace=True)

In [22]:
df5

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [23]:
df6

NameError: name 'df6' is not defined

In [24]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [25]:
df4.loc["735 Delores St.
        "]

SyntaxError: EOL while scanning string literal (<ipython-input-25-e71c973e7138>, line 1)

In [26]:
df4.loc["735 Delores St."]

KeyError: '735 Delores St.'

In [27]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [30]:
list(df4.iloc[1:4,1:4])

['Address', 'City', 'State']

In [31]:
df4.drop("City", 1)

   ID          Address             State Country         Name  Employees
0   1     3666 21st St          CA 94114     USA      Madeira          8
1   2   735 Dolores St          CA 94119     USA  Bready Shop         15
2   3      332 Hill St  California 94114     USA  Super River         25
3   4     3995 23rd St          CA 94114     USA   Ben's Shop         10
4   5  1056 Sanchez St        California     USA      Sanchez         12
5   6  551 Alvarado St          CA 94114     USA   Richvalley         20

In [38]:
df4.drop(1, 0)

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [39]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [40]:
df9 = df4.set_index("Address")

In [41]:
df9

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [42]:
df9.drop("332 Hill St", 0)

                 ID           City       State Country         Name  Employees
Address
3666 21st St      1  San Francisco    CA 94114     USA      Madeira          8
735 Dolores St    2  San Francisco    CA 94119     USA  Bready Shop         15
3995 23rd St      4  San Francisco    CA 94114     USA   Ben's Shop         10
1056 Sanchez St   5  San Francisco  California     USA      Sanchez         12
551 Alvarado St   6  San Francisco    CA 94114     USA   Richvalley         20

In [43]:
df9

,ID,City,State,Country,Name,Employees
Address,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15
332 Hill St,3,San Francisco,California 94114,USA,Super River,25
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20

In [44]:
df9.drop(df9.index[0:3])

                 ID           City       State Country        Name  Employees
Address
3995 23rd St      4  San Francisco    CA 94114     USA  Ben's Shop         10
1056 Sanchez St   5  San Francisco  California     USA     Sanchez         12
551 Alvarado St   6  San Francisco    CA 94114     USA  Richvalley         20

In [45]:
df7.columns

NameError: name 'df7' is not defined

In [46]:
df9.columns

Index(['ID', 'City', 'State', 'Country', 'Name', 'Employees'], dtype='object')

In [48]:
df9["Continent"]=df9.shape[0]*["North America"]

In [49]:
df9

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,North America
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,North America
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,North America
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,North America
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,North America
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,North America

In [50]:
df9["Continent"]=df9["Country"] + "," + " North America"

In [51]:
df9

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,"USA, North America"
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,"USA, North America"
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,"USA, North America"
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, North America"
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,"USA, North America"
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,"USA, North America"

In [52]:
df9_t=df9.T

In [53]:
df9

,ID,City,State,Country,Name,Employees,Continent
Address,,,,,,,
3666 21st St,1,San Francisco,CA 94114,USA,Madeira,8,"USA, North America"
735 Dolores St,2,San Francisco,CA 94119,USA,Bready Shop,15,"USA, North America"
332 Hill St,3,San Francisco,California 94114,USA,Super River,25,"USA, North America"
3995 23rd St,4,San Francisco,CA 94114,USA,Ben's Shop,10,"USA, North America"
1056 Sanchez St,5,San Francisco,California,USA,Sanchez,12,"USA, North America"
551 Alvarado St,6,San Francisco,CA 94114,USA,Richvalley,20,"USA, North America"

In [54]:
df9_t["My Address"]=["My City", "My Country", 10, 7, "My Shop", "My Continent"]

ValueError: Length of values does not match length of index

In [55]:
import geopy
dir(geopy)

['AlgoliaPlaces',
 'ArcGIS',
 'AzureMaps',
 'BANFrance',
 'Baidu',
 'BaiduV3',
 'Bing',
 'DataBC',
 'GeoNames',
 'GeocodeEarth',
 'GeocodeFarm',
 'Geolake',
 'GoogleV3',
 'Here',
 'IGNFrance',
 'LiveAddress',
 'Location',
 'MapBox',
 'MapQuest',
 'MapTiler',
 'Nominatim',
 'OpenCage',
 'OpenMapQuest',
 'Pelias',
 'Photon',
 'PickPoint',
 'Point',
 'Timezone',
 'TomTom',
 'What3Words',
 'Yandex',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '__version_info__',
 'adapters',
 'compat',
 'exc',
 'format',
 'geocoders',
 'get_geocoder_for_service',
 'get_version',
 'location',
 'point',
 'timezone',
 'units',
 'util']

In [56]:
from geopy.geocoders import ArcGIS
nom = ArcGIS()

In [57]:
dir(nom)

['_Geocoder__run_async',
 '_TOKEN_EXPIRED',
 '__aenter__',
 '__aexit__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_adapter_error_handler',
 '_authenticated_call_geocoder',
 '_call_geocoder',
 '_coerce_point_to_string',
 '_format_bounding_box',
 '_geocoder_exception_handler',
 '_parse_geocode',
 '_parse_reverse',
 '_refresh_authentication_token',
 'adapter',
 'api',
 'auth_api',
 'auth_domain',
 'auth_path',
 'domain',
 'geocode',
 'geocode_path',
 'headers',
 'password',
 'proxies',
 'referer',
 'reverse',
 'reverse_api',
 'reverse_path',
 'scheme',
 'ssl_context',
 'timeout',
 'token',
 'token_expiry',
 'token_lifetime',
 'username']

In [58]:
nom.geocode("3995 23rd St, San Francisco, CA 94114")

GeocoderServiceError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1108)